<!DOCTYPE html>
<html lang="ko">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>[연습] 케이크 만들기</title>
    <style>
        img#cake {
            width: 300px;
        }
    </style>
</head>

<body>
    <div><a href="../index.html"><img src="./images/home.png" alt="홈으로"></a></div>
    <h1>딸기 생크림 케이크 만들기</h1>
    <hr>
    <div><img id="cake" src="./images/strawberrycake.jpg" alt="딸기생크림케이크"></div>
    <h2>재료</h2>
    <ul>
        <li>제누와즈 1호, 딸기 한 팩</li>
        <li>시럽 : 물 100g, 설탕 30g</li>
        <li>크림 : 동물성 생크림 400g, 마스카포네 치즈 100g, 연유 20g, 설탕 15g</li>
        <li>데코용 크림은 별도 준비</li>
    </ul>
    <h2 id="section2">레시피 순서</h2>
    <ol>
        <li>연유와 마스카포네는 같이 섞어 주걱으로 잘 풀어준다.</li>
        <ul>
            <li>이때 마스카포네 크림치즈는 차가운 상태에서 눌러가며 풀어준다.</li>
            <li>베이킹 초보자들은 '갈바니' 브랜드의 마스카포네 크림치즈를 추천한다.</li>
        </ul>
        <li>냉동실에 차갑게 살짝 얼려둔 생크림을 꺼내 설탕과 마스카포네 크림치즈를 넣어 60% 정도만 휘핑해준 뒤 냉장고에 넣어 3시간 이상 숙성한다.
            <ul>
                <li>생크림은 숙성 후 사용해야 크림의 질감이나 맛의 균형이 좋기 때문에 추천하는 방법!</li>
            </ul>
        </li>
        <li>제누와즈 시트를 만들 차례! 전란, 계란노른자, 설탕과 꿀, 바닐라 익스트랙을 넣고 중탕에 올려 손거품기로 살살 섞어가며 52~53도까지 온도를 높여준다.</li>
        <ul>
            <li>이후 중탕에서 내려 고속으로 휘핑해주며 빠르게 거품을 만들어준다.</li>
        </ul>
    </ol>
    <br><br><br><br><br><br><br><br><br><br><br><br>

</body>

</html>