<!DOCTYPE html>
<html lang="ko">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>기본 태그</title>
</head>

<body>
    <p>hn태그는 문서의 제목을 나타냄</p>
    <h1>h1태그</h1>
    <h2>h2태그</h2>
    <h3>h3태그</h3>
    <h4>h4태그</h4>
    <h5>h5태그</h5>
    <h6>h6태그</h6>
    <hr> <!-- 가로선 -->

    <!-- 순서목록 -->
    <ol>
        <li>프로그래밍 언어 학습</li>
        <ul>
            <li>Java</li>
            <li>MySQL</li>
            <li>Web Frontend - HTML</li>
        </ul>
        <li>오늘의 오락
            <ul>
                <li>유튜브 시청</li>
                <li>넷플릭스 드라마</li>
                <li>리니지 게임</li>
            </ul>
        </li>
    </ol>

    <!-- 순서 없는 목록 -->
    <ul>
        <li>Java</li>
        <li>MySQL</li>
        <li>Web Frontend - HTML</li>
    </ul>

    <ul>
        <li>유튜브 시청</li>
        <li>넷플릭스 드라마</li>
        <li>리니지 게임</li>
    </ul>
</body </html>