<!DOCTYPE html>
<html lang="ko">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>이미지 관련 태그</title>
</head>

<body>
    <h1>
        <a href="../index.html">
            <img src="./images/home.png" alt="홈으로">
        </a>
    </h1>
    <h2>이미지 콘텐츠를 나타내는 태그</h2>
    <div>
        <ul>
            <li>이미지 태그는 오픈태그</li>
            <li>태그 자체 옵션으로 width, height 지정 가능 but, CSS 사용을 권장</li>
            <li>필수 속성: src, alt(이미지 대신 표현)</li>
            <li>블록 요소에 포함되어 사용됨</li>
        </ul>
    </div>
    <h3>경로(Path)</h3>
    <div>
        <ul>상대경로 : 현재 문서를 기준으로 만들어지는 경로
            <li> . : 현재 위치</li>
            <li> .. : 상위 위치</li>
            <li></li>
        </ul>
        <ul>절대경로 : 특정 기준점을 기준으로 만들어지는 경로
            <li>외부 URL을 사용할 때 : http://www.naver.com</li>
        </ul>
    </div>
    <hr>
    <div>
        <figure>
            <img src="./images/dog.jpg" alt="강아지" width="400px">
            <figcaption>#강아지 #중형견 #반려견 #무슨견종?</figcaption>
        </figure>
        <figure>
            <img src="./images/cat.jpg" alt="고양이" width="400px">
            <figcaption>#고양이 #반려묘 </figcaption>
        </figure>
        <figure>
            <img src="https://i.namu.wiki/i/a8Zdzw4dENPgg50gxc5TFb8WBmk4t69hjwB2E75yCZdhDGZL7WR0ue71IiZ-eDW3eLq4jEtdcgcMlaRWW-O4Yl1UfM6ReVaIwezXrmSw2NSEEAaNRfD7Zcds3ffQI0fbVo-5eAqyjOYm_gUKQawYLQ.webp"
                alt="닉" height="500px">
            <figcaption>#주토피아 #닉 </figcaption>
        </figure>
    </div>
</body>

</html>