<!DOCTYPE html>
<html lang="ko">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>문장을 나타내는 태그</title>
    <style>
        img {
            width: 400px;
        }
    </style>
</head>

<body>
    <h2>진달래 꽃</h2>
    <h3>김소월</h3>
    <div><img src="./images/flower.jpg" alt="진달래꽃"></div>
    <p>
        나 보기가 역겨워<br>
        가실 때에는<br>
        말없이 고이 보내 드리우리다<br><br>

        영변에 약산(藥山) <br>
        진달래꽃<br>
        아름 따다 가실 길에 뿌리우리다<br><br>

        가시는 걸음걸음<br>
        놓인 그 꽃을<br>
        사뿐히 즈려밟고 가시옵소서<br><br>

        나 보기가 역겨워<br>
        가실 때에는<br>
        죽어도 아니 눈물 흘리우리다<br><br>
    </p>
</body>

</html>