<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>텍스트 콘텐츠를 나타내는 태그</title>
</head>

<body>
    <h1>
        <a href="../index.html">
            <img src="./images/home.png" alt="홈으로">
        </a>
    </h1>
    <h2>텍스트 콘텐츠를 나타내는 태그</h2>
    <p>p태그는 문장을 표현</p>
    <hr>
    <h1>hn - Heading 1~6단계로 나뉨 <br>
        h1 - 로고, 표지제목 <br>
        h2 - 대제목, 단락제목 <br>
        h3 - 중제목, 페이지제목 <br>
        h4 - 소제목, 문단제목 <br>
        h5 - 문단제목 <br>
        h6 - 주석제목
    </h1>
    <p>hr - (Horizontal Rule) 수평선 </p>
    <p>
        i태그(inline) - <i>이탤릭체</i> <br>
        em태그(inline) - <em>이탤릭체</em>
    </p>
    <p>
        b태그(inline) - <b>굵게</b> <br>
        strong(inline) - <strong>굵게</strong>
    </p>
    <p>
        u태그(inline) - <b>underline</b> <br>
        s태그(inline) - <s>strike</s>
    </p>
    <p>
        span태그(inline) - <span>줄나눔 없이 구역설정</span><br>
        div태그(block) -
    <div>줄을 나누면서 구역설정</div>
    </p>
    <p>
    <h3>입력한 그대로 표현</h3>
    <pre>
    public static void main(String[] args) {
        System.out.println("Hello,");
    }
    </pre>
    </p>

    <hr>
    <h2>Character Entity</h2>
    <ul>
        <li>동해물과&nbsp;&nbsp;&nbsp;백두산</li>
        <li>꺾은괄호 &gt; &lt; </li>
        <li>저작권 기호 &copy;</li>
        <li>파운드 &pound;</li>
    </ul>

</body>

</html>