<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Fitness 회원정보 관리</title>
</head>
<body>
	<div>
		<h1>
			<img th:src="@{/images/alphabet.png}" alt="로고">
		</h1>
	</div>
	
	<!-- 메뉴 -->
	<ol>
		<li><a href="/fitness/regist">회원가입</a></li>
		<li><a href="/fitness/selectAll">전체 회원 정보 조회</a></li>
		<li><a href="/fitness/regist">--------</a></li>
		<li><a href="/fitness/regist">--------</a></li>
		<li><a href="/fitness/regist">--------</a></li>
	</ol>
	
</body>
</html>