<!DOCTYPE html>
<html xmlns:th="http://thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Thymeleaf의 기본문법</title>
</head>
<body>
	<h1>
		<img th:src="@{/images/home.png}" alt="로고">
	</h1>
	<h2>[ Thymeleaf 기본문법 ]</h2>
	<div>
		<ul>
			<li><a href="/display/text">1. 문자 출력</a></li>
			<li><a href="/display/condition">2. 조건문과 반복문</a></li>
			<li><a href="/display/object">3. 객체(DTO), ArrayList 출력</a></li>
			<li><a href="/display/mapData">4. Map 출력</a></li>
			<li><a href="/display/format">5. 숫자, 날짜, 백분율, 통화 포맷 출력</a></li>
			<li></li>
			<li></li>
		</ul>
	</div>
</body>
</html>