<!DOCTYPE html>
<html xmlns:th="http://thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>회원 등록</title>
<script defer th:src="@{/js/fitnessInsert.js}"></script>
</head>
<body>
	<h1>
		<a href="">
			<img th:src="@{/images/home.png}">
		</a>
	</h1>
	<h2>피트니스 회원 등록 화면</h2>
	<form id = "insert" action="/fitness/fitnessInsert" method="POST">
		<label class="title" for="name">이름: </label>
		<input type="text" name="name" id="name" placeholder="이름입력"><br>
		
		<label class="title">성별: </label> 
			<input type="radio" name="gender" value="남자" checked> 남자 &nbsp;
			<input type="radio" name="gender" value="여자"> 여자 &nbsp;
			
		<label class="title" for='height'>키(cm): </label> 
		<input type="text" name="height" id="height" placeholder="키를 cm로 입력"><br>
		
		<label class="title" for='weight'>몸무게(kg): </label> 
		<input type="text" name="weight" id="weight" placeholder="몸무게를 kg으로 입력">
		<br>
		
		<input type="button" id="send" value="회원등록">
	</form>
</body>

</html>