<!DOCTYPE html>
<html xmlns:th="http://thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
</head>
<body>
	<div th:insert="~{fragment/header(title='[ Thymeleaf 객체와 Map 출력 ]')}"></div>
	
	<h3>1. Map 정보 출력</h3>
	<ul>
		<li>Map Contains Key(lee): <span th:text="${friend.containsKey('lee')}"></span></li>
		<li>Map isEmpty: <span th:text="${friend.isEmpty()}"></span></li>
		<li>Map size: <span th:text="${friend.size()}"></span></li>
		<li>Map size(#maps): <span th:text="${#maps.size(friend)}"></span></li>
	</ul>
	<hr>
	<ul> --------------- 이몽룡 데이터 출력 ---------------
		<li>이름: <span th:text="${friend.get('lee').name}"></span></li>
		<li>나이: <span th:text="${friend.get('lee').age}"></span></li>
		<li>전화번호: <span th:text="${friend['lee'].phone}"></span></li>
		<li>생년월일: <span th:text="${friend['lee'].birthday}"></span></li>
		<li>========= 필터를 이용해서 출력 =========</li>
		<li>몽룡이의 정보: <span th:text="| ${friend['lee'].name}의 나이는 ${friend['lee'].age}살입니다. |"></span></li>
		<li th:text="|${friend['lee'].name}은 ${friend['lee'].age >= 19 ? '성년' : '미성년'}입니다.|"></li>

	</ul>
	
	<hr>
	<h3>2. 데이터 전달하기</h3>
	<ul>
		<li><a href="/display/sendData?name=성춘향&age=16">a태그의 쿼리스트링으로 보내기</a></li>
		<li><a th:href="@{/display/sendData(name=방자, age=21, active=true)}">타임리프 방식으로 쿼리스트링 보내기</a></li>
	</ul>
	
</body>
</html>